@import '../globals/colors.sass'

$border-radius: 10px

.Event
  display: grid
  padding: 0 1rem
  grid-template-columns: 30px auto 30px
  grid-template-rows: auto
  grid-template-areas: "v-line schedule schedule" "v-line title add" "v-line description add" "v-line category add"

  .schedule
    grid-area: schedule
    text-align: left
    color: $app-timeline-color
    font-weight: bold
    font-size: .8rem
    padding-bottom: .3rem
    margin-top: 2rem

    &::before
      content: '\29BF'
      position: relative
      font-size: 1.3rem
      left: -2rem

  .time-line
    grid-area: v-line
    border-right: solid thin $app-timeline-color
    margin-right: 15px

  .title
    grid-area: title
    font-weight: bold
    background-color: white
    padding: 1rem
    border-top-left-radius: $border-radius
    border-top-right-radius: $border-radius

  .description
    grid-area: description
    background-color: white
    font-size: .8rem
    padding: .2rem 1rem
    text-align: justify

  .category
    grid-area: category
    background-color: white
    font-weight: bold
    font-size: .8rem
    padding: .4rem 1rem
    text-align: right
    border-bottom-left-radius: $border-radius
    border-bottom-right-radius: $border-radius

  .btn-add
    grid-area: add
    background-color: $app-add-to-schedule-color
    padding: 0
    margin: 1px
    border: 1px solid darken($app-add-to-schedule-color, 5%)
    display: flex
    justify-content: center
    justify-items: center
    border-radius: 4px

    span
      display: inline-block;
      transform: rotate(-90deg)
      font-size: .6rem
      font-weight: bold
      color: white
      // white-space: nowrap
      // border: dotted thin red
